.main-footer {
    width: 100%;
    height: 39px;
    position: absolute;
    bottom: 0;
    background: #2E0039;
}

.main-footer a {
    width: 108px;
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    text-align: center ;
}

.tos {
    position: absolute;
    right: 50%;
    bottom: 10px;
}

.pp {
    position: absolute;
    left: 50%;
    bottom: 10px;
}